// Spacing Variables
// Change below variable if the height of the navbar changes
$navbar-base-height: 56px;
// Change below variable to change the width of the sidenav
$sidebar-base-width: 225px;
// Change below variable to change the width of the sidenav when collapsed
$sidebar-collapsed-width: 90px;
// Change below variable to change the height of the sticky footer
$sticky-footer-height: 80px;

// UCD Branding theme colors (https://marketingtoolbox.ucdavis.edu/visual-identity/color.html)
$primary: #002855; // UC Davis Blue
$secondary: #4d688c;
$success: #78be20;
$info: #00b5e2;
$warning: #ffcd00;
$danger: #ba0c2f;
$light: #f8f9fa;
$dark: #002855;
